[2017-02-22 02:42] MartinCerny-awin opened #1 "Using dispatch in componentWillMount"
In some components I am using dispatch function directly. If I do this in componentWillMount lifecycle methods I get uncaught error Cannot read property 'type' of undefined.
[code]

My component using dispatch function:
[code]

I have changed dispatched action to action creator and it solved the problem, but I do not not understand why I can't use dispatch in componentWillMount() when using this l

[2017-02-22 05:23] captbaritone commented on #1
Are you, perhaps, using any other middleware? If so, in which order are you applying them?

[2017-02-22 05:38] MartinCerny-awin commented on #1
I am using reduxThunk and reduxPromise. I use these parameters to call createStore function:

[code]

[2017-02-22 13:41] captbaritone commented on #1
If you move Raven for Redux after reduxPromise, do you get the same error?

--
Jordan Eldredge (mobile)

[2017-02-23 11:37] MartinCerny-awin commented on #1
Yes, I get the same error no matter where I move createRavenMiddleware() function. The error disappears only, when I remove middleware.

This is the most important part of my store builder.
[code]

[2017-02-23 17:30] captbaritone commented on #1
Its possible that the code you supplied has been simplified for the sake of this report, but if your `mapStateToProps` is actually as you've specified, I think it might be causing your problems.

This example:
[code]

Is equivalent to:

[code]

Which means the actual dispatch function is being executed with the return of your outer dispatch function. I'm guessing this is `undefined`, but your exam

[2017-02-27 16:46] captbaritone commented on #1
I'm going to close this issue on the assumption that the problem is with your `mapStaeToprops`. If that ends up not being the problem let me know and we can reopen the issue.

[2017-02-27 16:46] #1 closed

[2017-02-28 06:06] MartinCerny-awin commented on #1
@captbaritone You were right, I helped me to fix the issue. I have changed my `mapDispatchToProps` function to

[code]

[2017-02-28 17:22] captbaritone commented on #1
@MartinCerny-awin Great! In fact, you could even use the object shorthand for `mapDispatchToPros`:

[code]

You can read more here: https://github.com/reactjs/react-redux/blob/master/docs/api.md#connectmapstatetoprops-mapdispatchtoprops-mergeprops-options

[2017-03-09 16:41] joshfarrant opened #2 "Sentry discarding invalid parameter 'lastAction'"
I'm currently swapping out redux-raven-middleware for raven-for-redux (much prefer your implementation :+1: ) and I've just run into this error in Sentry:

`Sentry discarding invalid parameter 'lastAction'`

Not sure if this is actually a bug with this project, but wanted to check if this something you've come across before, or have any thoughts on how to resolve?

[2017-03-09 17:11] captbaritone commented on #2
Where exactly are you seeing the error? Sentry.io, or as a console error from Raven?

[2017-03-10 09:16] joshfarrant commented on #2
I'm seeing this within Sentry. As I said, it may not strictly be an issue with this project, I just wanted to check whether or not there could be an issue with the way raven-for-redux is formatting the data that Sentry is having difficulty parsing.

If this isn't reproducible (My set-up is identical to that in the README) then it's unlikely that this is an issue with this project and is more likel

[2017-03-10 13:46] #2 closed

[2017-03-10 13:51] captbaritone commented on #2
It looks like this was caused by me calling `Raven.context` incorrectly.

I've cut a new release `0.4.0`. Would you try upgrading and see if that fixes the issue?

Thanks for reporting this!

[2017-03-10 15:24] joshfarrant commented on #2
All good, thanks for the fix!

[2017-03-10 16:31] joshfarrant opened #3 "Add an action's 'payload' property to breadcrumb data if it exists"
Just a thought that could potentially be a useful addition - It's quite likely that a lot of people using Redux  will also be using the [flux-standard-actions](https://github.com/acdlite/flux-standard-action) standard for structuring their actions.

It could be useful to include the action's `payload` property (if it exists) in the `data` property of Raven's breadcrumb to help add a bit more conte

[2017-03-10 16:40] joshfarrant commented on #3
Only potential issue with this, which I hadn't previously considered, is that you could end up pushing sensitive data, eg.

[code]

Definitely don't want that in Sentry...

[2017-04-10 16:52] ChrisSargent opened #4 "Using with Axios (Cannot read property 'hasOwnProperty' of undefined)"
Hi,

Thanks for this package, I'm looking forward to getting it implemented.

I have a React / Redux universal application that's using Axios to get data from various endpoints. I'm using an Axios interceptor (https://github.com/mzabriskie/axios#interceptors) to catch any network errors like so:

[code]

If I run it like this with a default configuration, I get a number of _Cannot read property 'h

[2017-04-10 16:56] svanzoest commented on #4
This is related to https://github.com/getsentry/raven-js/issues/925

[2017-04-12 07:30] ChrisSargent opened #5 "stateTransformer Mutating State"
Hi,

Maybe this is intentional behaviour and it should in fact be down do me to not mutate it, but, when I use the stateTransformer callback, any modifications I make to the state being passed to Raven are also present in the actual application state.

This is my cb function:

[code]

[2017-04-12 07:39] ChrisSargent commented on #5
Ignore this, it was my fault!

[2017-04-12 07:39] #5 closed

[2017-04-12 18:35] captbaritone commented on #3
This is a great idea, unfortunately there are some "gottchas". The biggest limitation is that Sentry won't accept reports with too much data. If you attach every action (some of which might contain entire API responses) you can quickly end up in a place where exceptions are not actually stored, since Sentry returns 400 when Raven tries to report it.

Also, the `data` attribute must be a flat objec

[2017-04-12 18:35] #3 closed

[2017-04-12 19:13] captbaritone commented on #4
Looks like [this fix](https://github.com/getsentry/raven-js/pull/929) will be merged in Raven. I have a working fix for `raven-for-redux` but at this point, I think it's best to just wait for the next release of Raven (or downgrade to raven@3.13.1).

You can see the fix on my feature branch here: https://github.com/captbaritone/raven-for-redux/commit/78097c6a4a85bdb2e16c46cad0ebab5c1cc602c2

If an

[2017-04-12 19:13] #4 closed

[2017-04-12 19:21] captbaritone commented on #4
In the mean time, I've added a note to the readme: https://github.com/captbaritone/raven-for-redux/commit/137d0c52d895c9d73c861f14054a8a867f663f90

[2017-04-12 19:37] svanzoest commented on #4
For now, I just downgraded to raven-js 3.13.1 until getsentry/raven-js#929 gets released.

[2017-04-12 20:45] captbaritone commented on #4
Looks like Raven 3.14.1 has been released. Thanks for the fast turn around @benvinegar!

[2017-04-13 07:45] ChrisSargent commented on #4
Yip, this is fixed for me after updating to 3.14.1. Thanks!

[2017-04-13 07:53] ChrisSargent opened #6 "stateTransformer Usage."
Hi - is there anyway to have this be called (or run) only if an error happens and only when the state is actually being submitted?

I ask because my state can get a little large and in testing I've occasionally hit the 'Request Entity too Large' error. So, I've set up a function that removes a couple of fields from my state before passing to Raven. But it is an iterative function and therefore pot

[2017-04-13 08:41] joshfarrant commented on #3
Thanks for looking into this!

[2017-04-13 16:47] captbaritone commented on #6
Great idea. It looks like we could be using `setDataCallback` do to this. Upon looking at the code (https://github.com/getsentry/raven-js/blob/master/src/raven.js#L558-L565) I think we should be able to play nicely with any existing `setDataCallback` functions by utilizing the second (undocumented) argument passed to the callback.

Would you like to look into implementing this? If not, I'll probab

[2017-04-13 17:51] ChrisSargent commented on #6
Hey, I'm happy to have a look at it but it wouldn't be before the weekend either.

[2017-04-13 17:55] captbaritone commented on #6
Cool. Leave a note here if/when you start working on it, and I'll do the same. That way we can be sure we don't double up.

[2017-04-13 17:57] captbaritone commented on #5
Do you think we should improve the documentation to remind people not to mutate?

[2017-04-13 18:02] ChrisSargent commented on #5
Probably a good idea actually. It was pretty obvious when I did it because it totally broke everything but might not be so easy if people would only make small changes.

[2017-04-13 18:06] captbaritone opened #7 "Add note about mutating data to documentation"
As @ChrisSargent found in #5, it's very easy to accidentally mutate an object in one of our optional transform functions. This can lead to very confusing bugs. We could help avoid this by adding a reminder in our documentation.

[2017-04-15 23:03] captbaritone commented on #6
I'm starting work on this.

[2017-04-16 05:33] captbaritone commented on #6
Okay! I have a fix. @ChrisSargent would you like to give this pull request a review? https://github.com/captbaritone/raven-for-redux/pull/8

[2017-04-19 15:46] #6 closed

[2017-04-19 16:48] captbaritone commented on #7
This is probably not so important any more. After merging #8, the action and state are only ever transformed once, when the error is reported.

[2017-04-19 16:50] ChrisSargent commented on #7
True, but is it possible it might not be an app-crashing error and therefore it would still be best to not mutate the state? I think a simple 'Remember not to mutate your state here, if your state will continue to be used'

[2017-04-19 16:55] #7 closed

[2017-04-19 16:55] captbaritone commented on #7
Good point. Fixed.

[2017-04-19 17:08] captbaritone opened #10 "Actually record the initial state"
It appears that middleware is attached before the `@@redux/INIT` action is dispatched, and `@@redux/INIT` is not propagated into the middleware. Therefore, if the app crashes before the first "real" action is dispatched, the state will be empty.

I've added a failing test here: https://github.com/captbaritone/raven-for-redux/blob/master/index.test.js#L37-L48

[2017-04-19 22:39] olslash opened #11 "calls next(action) but doesn't return it"
I was running into an error where I was chaining off a promise returned by redux-api-middleware:

[code]

Without raven-for-redux, result is the correct value (the result of the API call). With raven-for-redux,  result is undefined.

I modified the middleware to remove the call here:
https://github.com/captbaritone/raven-for-redux/blob/master/index.js#L33, which calls `next(action)` but does not r

[2017-04-20 00:46] #11 closed

[2017-04-20 00:51] captbaritone commented on #11
I've just released 0.7.0. With a fix. Can you try it and see if it resolves your problem?

[2017-04-20 00:58] olslash commented on #11
Thanks for the quick turnaround @captbaritone. Yep, that fixed it!

[2017-04-20 01:02] captbaritone commented on #11
Thanks for digging into it as far as you did. Made the fix easy.

[2017-04-27 00:00] AndrewSouthpaw opened #12 "Creating duplicate Raven errors."
First off, thanks for putting this together! It's a huge improvement on `redux-raven-middleware` by being able to pass in an initialized Raven object.

I seem to be receiving duplicate errors in Sentry when throwing an error inside reducer code. One comes from `Object.ReactErrorUtils.invokeGuardedCallback`, and then another gets sent as well.

I'm guessing it's because we already have an initializ

[2017-04-27 00:21] AndrewSouthpaw commented on #12
... looks like when I copy your code from latest master, everything works fine. The npm package I was using did not include [this commit](https://github.com/captbaritone/raven-for-redux/commit/1def9a747d7b711ad93da531b8ff9d128c352b45) which plausibly fixes the problem. Could you bump the version?

[2017-04-27 00:59] captbaritone commented on #12
Thanks for reporting this. I'll take a look at cutting a new release and writing a regression test later tonight.

[2017-04-27 01:47] captbaritone commented on #12
Interesting. I don't see a plausible reason for Raven to report an error twice, much less for my that commit to make any difference. Perhaps it has something to do with the way React tries to handle errors?

Either way, I've cut a new release (0.7.1) since it seems to help, but I'd still like to understand what's going os so that I can ensure we don't regress on this.

Are you saying that they hav

[2017-04-28 23:00] captbaritone commented on #12
I'm going to close this issue. We can reopen if we get more info.

[2017-04-28 23:14] #12 closed

[2017-04-29 04:23] #10 closed

[2017-04-29 04:24] captbaritone commented on #10
Turns out my test reducer was just improperly written. I had forgotten to implement the `default` case, which was causing the test for this to fail, even the the functionality was working properly.

[2017-05-01 16:41] AndrewSouthpaw commented on #12
I'll work on it this week and get back to you. :)

[2017-05-11 11:38] greenkeeper[bot] opened #21 "An in-range update of babel-jest is breaking the build 🚨"
## Version **20.0.1** of [babel-jest](https://github.com/facebook/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Fbabel-jest-20.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-jest
    </td>
  </tr>
  <tr>
    <th ali

[2017-05-13 10:58] greenkeeper[bot] opened #22 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## Version **2.1.0** of [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Feslint-config-prettier-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-

[2017-05-18 01:29] AndrewSouthpaw commented on #12
Hey, sorry it took a while to get around to this one.

Here's the basics in a nutshell: I was throwing the error inside a reducer, a simple `throw 'foo'`. Then I would trigger that reducer action through a synchronous Redux action creator, and it would produce the two error reports. The action would be created by clicking a React button, which had something like `onClick={() => dispatch(actions.bl

[2017-05-18 16:58] #21 closed

[2017-05-18 16:59] #22 closed

[2017-05-25 15:00] captbaritone commented on #12
Thanks for collecting those details. I'll try to create a similar example and see if I can reproduce.

[2017-05-25 15:32] captbaritone commented on #12
Just for clarification, are you still seeing two XHR requests, even with raven-for-redux@0.7.1 ?

[2017-05-25 19:13] AndrewSouthpaw commented on #12
Nope, I only see one XHR request for 0.7.1.

[2017-05-26 21:13] captbaritone commented on #12
I've added a manual test here: https://github.com/captbaritone/raven-for-redux/blob/master/example/index.js#L46-L56 and tried that with 0.7.0 and I'm only seeing one XHR request. Any ideas of things to try?

[2017-05-27 02:13] AndrewSouthpaw commented on #12
Only other idea is to try adding the `Raven.showReportDialog` in the `dataCallback` as I indicated above. I tried doing that on my own in your repo, but I couldn't figure out how you got your tests running. :-/

[2017-06-02 16:32] greenkeeper[bot] opened #24 "An in-range update of prettier is breaking the build 🚨"
## Version **1.4.0** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Fprettier-1.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=l

[2017-06-03 00:14] #24 closed

[2017-06-26 06:29] cyberhck opened #27 "add action to breadcrumb"
Add the whole action to breadcrumb. Normally people add payload to their action, this way, we can make a report more "reproducible". I believe right now we're only adding `action.type` in breadcrumb.

[2017-06-26 16:23] captbaritone commented on #27
You should be able to achieve something like this with the [breadcrumbdatafromaction](https://github.com/captbaritone/raven-for-redux#breadcrumbdatafromaction-function) option. Keep in mind that it's very easy to run up against the maximum payload size allowed the Sentry. The documentation for the option goes into a bit more detail.

I'll leave this issue open as a reminder to call out this specif

[2017-07-04 21:09] pke opened #28 "Support auto reporting of `error` FSA"
How about the middleware to catch FSA with `error === true` automatically. Whenever it sees a FSA with the `error` key set to `true` it could report the error.

[code]

[2017-07-05 16:33] captbaritone commented on #28
Interesting! You could shoe-horn this functionality into `raven-for-redux` by putting your logic in `breadcrumbDataFromAction`, since that function gets called for every action. However, that's pretty gross.

[code]

Or, you could just write it as its own middleware and it would be nearly as simple:

[code]

I don't think this makes sense to be in `raven-for-redux` as a core feature, since FSA, is

[2017-07-05 22:57] pke commented on #28
Yeah I thought about just writing my own little middleware for that.
I have no other common patterns in mind at the moment.

[2017-07-05 22:57] #28 closed

[2017-07-06 15:09] captbaritone commented on #28
I haven't used FSA before. Is it common to do error handling inside the reducer? If so, reporting all action errors may not really be the right thing anyway.

[2017-07-08 02:54] #27 closed

[2017-07-17 20:39] akhayoon opened #29 "Does this lib watch if the state will be too large?"
I know I had an issue before with sending the entire Redux state when it's too large. Usually it causes the Sentry network call itself to fail because of the data size in the request being above the limit Sentry allows.

I'm wondering if this library checks for that before the request is sent? Or have you run into this issue personally and have some kind of workaround?

Great library, thank you.

[2017-07-17 20:47] #29 closed

[2017-07-17 20:47] akhayoon commented on #29
I see the answer in the docs nvm.

[2017-07-18 14:35] akhayoon commented on #5
@ChrisSargent I'm curious to what you do when the state is too large. Is there any way to figure that out before you send the error out with sentry? or do you just send specific reducers?

[2017-07-18 15:24] captbaritone commented on #5
I don't think it's possible to accurately measure the size of the data before it is sent. For now, I think your best option is to use your knowledge of your application to omit portions of your state which you are large and are unlikely to be useful for diagnosing errors.

More info here: https://docs.sentry.io/learn/quotas/#attributes-limits

[2017-07-19 09:15] ChrisSargent commented on #5
Hi @akhayoon, yes, I didn't measure the size, I just did as @captbaritone suggested above. I remove the parts of my state that I know are large and actually irrelevant. e.g. for a blog post, I send in the ID of the post but not the actual content.

[2017-08-28 16:19] greenkeeper[bot] opened #30 "An in-range update of prettier is breaking the build 🚨"
## Version **1.6.0** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Fprettier-1.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=l

[2017-08-30 16:11] #30 closed

[2017-09-25 09:03] OKNoah opened #33 "Use with react-redux-universal-hot-example"
I've been trying for some time to use this in my app based on erikras/react-redux-universal-hot-example.

Whenever I throw an error in a reducer, no request is sent to Sentry.

I have done a lot of configuration, reconfiguration and such, including implementing Rasmusen's great `./ApiClient` into the the `./examples` here, but that worked as expected. As a result I have not narrowed down the issue

[2017-09-27 17:13] greenkeeper[bot] opened #35 "An in-range update of prettier is breaking the build 🚨"
## Version **1.7.1** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Fprettier-1.7.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=l

[2017-09-27 18:46] greenkeeper[bot] opened #36 "An in-range update of webpack-dev-server is breaking the build 🚨"
## Version **2.9.1** of [webpack-dev-server](https://github.com/webpack/webpack-dev-server) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Fwebpack-dev-server-2.9.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack-dev-server

[2017-09-27 23:10] greenkeeper[bot] opened #37 "An in-range update of jest is breaking the build 🚨"
## Version **21.2.1** of [jest](https://github.com/facebook/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Fjest-21.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      jest
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-09-30 16:53] captbaritone commented on #33
I'm not entirely sure what you're asking. Could you share a minimal example of what you are currently trying, what you expect to happen and what is acuay happening along with any relevant errors or context?

Also, if you are just looking for help setting up the package, rather than reporting an bug/issue with the package, Stack Overflow may be a better venue that GitHub issues.

Feel free to send

[2017-09-30 16:53] #33 closed

[2017-10-04 00:10] #37 closed

[2017-10-04 00:10] #35 closed

[2017-10-04 18:33] bjudson opened #41 "npm build?"
When I pull version 1.1.0 from npm (actually I'm using yarn), the built version of the code (`built/index.js`) doesn't reflect what I'm seeing on GitHub. But the README is up to date.

[2017-10-04 19:42] captbaritone commented on #41
Hmm. Maybe the build step didn't run. I'll look this evening. Sorry about that.

[2017-10-05 02:53] captbaritone commented on #41
I'm really not sure what happened. I've republished as 1.1.1 and it seems to work now. Would you mind confirming?

[2017-10-05 02:53] #41 closed

[2017-10-05 03:00] #36 closed

[2017-10-05 03:13] captbaritone commented on #41
Okay, my hypothesis at this point is that I hadn't rebased from github when I published.

[2017-10-05 16:21] bjudson commented on #41
Cool, thanks for the quick fix. Probably pushing this into production today or tomorrow along with React 16.

[2017-10-05 16:41] captbaritone commented on #41
Great! Let me know if you hit any snags.

[2017-10-18 18:26] davidfurlong opened #42 "When the redux state is really big, the request to sentry fails due to `Request too large`"
I'm not sure this is the responsibility of this library, however I'm running into a `413 Request Entity too large` issue with our redux state being too big.

https://github.com/getsentry/raven-js/issues/339

[2017-10-18 18:29] #42 closed

[2017-10-18 18:53] davidfurlong commented on #42
But also the conditions here: https://docs.sentry.io/learn/quotas/#attributes-limits seem quite limiting

[2017-11-14 13:51] greenkeeper[bot] opened #44 "An in-range update of raven-js is breaking the build 🚨"
## Version **3.20.0** of [raven-js](https://github.com/getsentry/raven-js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Fraven-js-3.20.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      raven-js
    </td>
  </tr>
  <tr>
    <th alig

[2017-11-14 15:48] captbaritone commented on #44
Looks like this was a transient Travis failure.

[2017-11-14 15:48] #44 closed

[2017-11-29 20:51] thom-nic opened #45 "Capture reducer errors?"
I tried [redux-sentry](https://github.com/auru/redux-sentry/) first then moved to this project thinking it behaved the same.  However it appears this project does not capture exceptions thrown from a reducer.

Noting the [difference between this and redux-sentry](https://github.com/auru/redux-sentry/blob/master/middleware.ts) I can see why: the catch/ `captureException` call.

So, why doesn't rave

[2017-11-29 22:09] captbaritone commented on #45
Raven should capture all uncaught exceptions, including those thrown from the reducer. Our approach is to attach Redux data to all exceptions rather than just explicitly attaching it to reducer exceptions.

Are you personally seeing exceptions thrown from within your reducer which are not captured by Raven?

[2017-11-29 22:50] thom-nic commented on #45
Yeah that's what was happening- nothing captured by Raven even though other uncaught errors do get reported as expected. I'll post a stack trace in a bit so we can try to track down where they are being lost.

[2017-11-30 00:04] captbaritone commented on #45
One known issue is that exceptions with large payloads will be refused by Sentry and silently dropped. Is it possible that this is the problem you are seeing?

[2017-11-30 00:22] thom-nic commented on #45
No I don't think that's the issue. Everything else gets reported and I filter out some of that bulk of my state.

I added a reporting middleware that I add after this one, which basically does what I'm describing and it works as I'd expect. So same payload gets sent successfully if I manually catch the error.

I suspect maybe something further up the stack (maybe part of redux) may be catching the

[2017-11-30 02:59] thom-nic commented on #45
well I was half right.  It looks like the action creator that triggered the error in my reducer also had a `.catch()` chained on it, which was handling the error (I'm using redux-thunk.)  If I re-threw it, the error bubbled all the way up to the action call in the component and got captured by Raven as expected.

[2017-11-30 02:59] #45 closed

[2017-11-30 03:00] captbaritone commented on #45
Ah, good to hear! Glad you got it figured out.

[2017-12-13 04:20] XiaocongDong opened #46 "not working with redux-saga middleware"
Hi

I am using this middleware along with [redux-saga](https://github.com/redux-saga/redux-saga) middleware, it seems like the action thrown from the reducer cannot be caught.

FYI: I use[ redux-actions](https://github.com/reduxactions/redux-actions) to create my actions and reducers, etc.
error stacks:

[code]

Thanks

[2017-12-13 17:38] tucobenedicto commented on #46
Hello, I haven't used this library yet so I can't help you troubleshoot your issue that much, but I just came here from the Sentry React documentation and thought maybe [their section on Redux Saga Middleware](https://docs.sentry.io/clients/javascript/integrations/react/#redux-sagas-middleware) might be able to give you some ideas.

[2017-12-20 21:28] captbaritone commented on #46
The capturing of exceptions is actually done by [Raven-js](https://github.com/getsentry/raven-js), so I would look there first. This library just adds additional context to exceptions caught by Raven-js.

[2017-12-20 21:28] #46 closed

[2018-01-03 20:29] hyperh opened #50 "Getting large memory leaks"
I'm getting some large memory leaks on my Express server with this library when doing server side rendering (SSR). Is anyone else getting the same thing?

Following [this](https://www.alexkras.com/simple-guide-to-finding-a-javascript-memory-leak-in-node-js/), I ran some tests with `autocannon`. https://www.npmjs.com/package/autocannon

[code]

The dotted blue line is when I took out `raven-for-red

[2018-01-03 20:52] captbaritone commented on #50
I’m not sure I fully understand all the different combinations you tested. Were you able to create a test that included Raven-for-redux but not raven-js?

[2018-01-03 20:55] captbaritone commented on #50
Put another way: what is leading you think that the leak is in Raven-for-Redux and not Raven-js?

One possible cause is that the Raven-for-Redux middleware will hold into a reference of the Raven instance which is passed to it as well as a reference to the store.

Could you share the code that is being used to setup the middleware?

[2018-01-03 20:59] hyperh commented on #50
@captbaritone The other combinations aren't particularly useful in themselves, just left them there as a comparison against the effect of taking out `raven-for-redux`.

Store initialization code:

I have my own Raven middleware as well (`createRavenUserContextMiddleware`), but taking that out had no effect on the memory issue.

[code]

[2018-01-03 21:01] hyperh commented on #50
@captbaritone

Wouldn't I need an instance of `raven-js` to use `raven-for-redux`?

[2018-01-03 21:09] captbaritone commented on #50
You could try passing it a stub:

[code]
What does `setupRaven` currently do?

Are you using `raven-js` on your server, or `raven` (the Node version)?

[2018-01-03 21:32] hyperh commented on #50
@captbaritone

Just tried passing in the `Raven` stub, the memory leak disappeared.

`setupRaven` code:

[code]

Using `raven` on server. However, this app is server side rendered, so the client side code (that uses `raven-js`) to initialize the Redux store is also executed on a user navigating to my URL in the browser.

[2018-01-03 21:39] captbaritone commented on #50
Have you tested calling`setupRaven` and your using middleware, but not `raven-for-redux`?

[2018-01-03 21:48] hyperh commented on #50
@captbaritone Yup that's the blue dotted line in my graph. `load-no-createRavenMiddleware`

[2018-01-03 22:01] captbaritone commented on #50
Ah! I have an idea what it might be. `raven-for-redux` calls `Raven.setDataCallback()` and passes it a function that has the redux store bound into it. It also keeps a reference to the previous `dataCallback` so that it can also run any other callbacks that the user has provided.

This means that a new Redux store (and everything it references) is probably being retained for every request.

Could

[2018-01-03 22:27] hyperh commented on #50
`setupRaven` looks like this now:

[code]

![screen shot 2018-01-03 at 5 25 25 pm](https://user-images.githubusercontent.com/11323591/34542574-235ead3c-f0ab-11e7-914f-74c2954d5740.png)

Dotted grey line is where I set the data callback as `null`. Seems to have resolved the memory issues!  Should probably be addressed by the library itself though. Will you be publishing an update for this bug?

Tha

[2018-01-03 23:24] captbaritone commented on #50
Honestly, I think this is kinda your app's responsibility. As far as `raven-for-redux` is concerned, you are asking it to listen to infinite redux stores, and (in the case of any error) add those stores' states as context to a single Raven instance.

That said, `raven-for-redux` does not really offer any way to stop listening. I guess the question is: Should it?

This is something of a strange use

[2018-01-03 23:27] hyperh commented on #50
@captbaritone Yea your explanation makes sense, I'm fine with handling it in app.

However, I don't think the use case is that uncommon though, as React SSR is getting more and more common place.

Perhaps just add some documentation around this (potential) issue in case another user experiences it?

[2018-01-03 23:30] captbaritone commented on #50
Currently `raven-for-redux` assumes it will only ever be called once. Maybe we could do two things:

1. Throw a warning if the user calls it more than once.
2. Add some documentation about using it in a SSR context.

Would you be willing to open PRs for either or both of those?

[2018-01-03 23:31] captbaritone commented on #50
Thanks for reporting this, by the way! Good bug ;)

[2018-01-03 23:31] hyperh commented on #50
@captbaritone Sure thing! I'll try to submit a PR for both. Thanks again for the great library!

[2018-01-03 23:35] #50 closed

[2018-01-04 01:31] captbaritone opened #51 "Warn if createRavenMiddleware is called more than once"
Currently this is the source of a potential memory leak (see #50), since Raven will continue to hold a reference our original `dataCallback` which has the store implicitly bound into it.

Additionally, we hard code where in the context we put the state, (`data.extra.state`), so the second call will cause any context provided by the first call to be overwritten.

I can foresee a possible use case w

[2018-01-04 01:33] captbaritone opened #52 "Document that we don't support multiple calls to createRavenMiddleware"
See #50 and #51.

Maybe put this in the readme under a heading like "Server Side Rendering or Multiple Stores".

[2018-01-04 01:34] captbaritone commented on #50
See #51 and #52. Let's start with #52.

[2018-01-05 17:08] odinuge commented on #50
Hi @captbaritone & @hyperh,

Isn't this a issue with the usage, and not the library? The `raven-js` should not be used in node, there is a separate package called [`raven`](https://www.npmjs.com/package/raven) for node. Since `raven-js` runs in a browser it has a "global" context. SSR will most likely run async, and it doesn't make sense to use the same context for all SSR requests.

From the sent

[2018-01-05 19:46] captbaritone commented on #50
@odinuge Thanks for chiming in. I'm curious about your usage. Are you sharing a single (node) `raven` instances across requests? If so, you might have a similar memory leak to the one @hyperh uncovered. Additionally, the context that `raven-for-redux` would attach is probably not what you would actually want:

* Breadcrumbs would include all actions dispatched by all stores across the lifecycle of

[2018-01-06 04:00] greenkeeper[bot] opened #55 "An in-range update of webpack-dev-server is breaking the build 🚨"
## Version **2.10.0** of [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Fwebpack-dev-server-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack-dev-server

[2018-01-07 03:37] greenkeeper[bot] opened #56 "An in-range update of eslint is breaking the build 🚨"
## Version **4.15.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Feslint-4.15.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2018-01-08 15:05] captbaritone commented on #55
False positive. Travis hiccup.

[2018-01-08 15:05] #55 closed

[2018-01-08 15:38] captbaritone commented on #56
This was just a Travis blip.

[2018-01-08 15:38] #56 closed

[2018-01-08 18:10] odinuge commented on #50
Hi @captbaritone

Here is basic a proof of concept (in code) of how it is possible to do it. https://gist.github.com/odinuge/3c9778e991621eb579d0d8ea5676365c
Haven't done much testing, but it looks like it works ok. :+1:

There will be one raven instance, but with one "context" for each request. We use the async server `express`, so multiple requests can be executed simultaneously. `raven` (for no

[2018-01-10 17:17] captbaritone commented on #50
@odinuge I would agree that this approach does avoid the memory leak, but I think it would have at least one confusing behavior:

1. Any exception would include every store's actions as breadcrumbs. It would be impossible to tell which breadcrumbs came from the current request's store.

Moreover, while this works, it requires pretty detailed knowledge of the inner workings of `raven-js`, `raven` a

[2018-01-10 18:14] odinuge commented on #50
Agree that we should think about how to make it an "easy" implementation that more or less works "out of the box". However, SSR is kinda hard. As you say, memory leaks are hard to find, and dealing with proper async is not easy (and sure I am no expert, atleast not in javascript and its strange scope and context).

Commiting to a bad/not that good solution now, would indeed limit the possibilities

[2018-01-27 04:13] captbaritone commented on #50
I've thought about this a (tiny) bit more, and here is where I stand:

In a SSR context we would want the following things:

1. A `captureException` function which, when called, would include all standard `raven-for-redux` context from a given Redux store.
2. Completely self contained (does not attach any references to the store to the Raven singleton)
3. Does not attach any context to uncaught ex

[2018-01-28 19:52] odinuge commented on #50
Hi,

That sounds like a good idea. The lack of breadcrumbs will however be a huge miss, atleast for me. After my understanding of the sourcecode of `raven`, it is impossible to add breadcrumbs with custom timestamp (and custom breadcrumbs when reporting at all). I have however investigated some more, and I have found a solution almost like yours. It has working breadcrumbs, and should solve most o

[2018-01-28 22:42] captbaritone commented on #50
@odinuge Thanks for your thoughts on this.

One problem I see with your solution is that breadcrumbs from all the different requests are attached to the global Raven, so a logged exception might include action breadcrumbs from an unrelated request/Redux store. As you said though, I think it's impossible without being able to set the dataCallback.

That said, I think I have a working prototype whic

[2018-02-01 21:07] odinuge commented on #50
That looks like a nice start @captbaritone! It still looks like it would require some more work in order to properly add `raven-node` support. The main concern is that `raven-node` doesn't support `setDataCallback` - one of the key concepts used in this middleware.

I like the breadcrumb handling, but it looks like the `raven-js` lib will override them during transmission if there are breadcrumbs

[2018-02-01 21:49] captbaritone commented on #50
https://github.com/getsentry/raven-node/blob/master/lib/client.js#L511-L520

That said, it's not in the documentation for either library. I should add some automated tests that test against `ravent-node` to make sure I actually know what I'm talking about here 😁

I see your point about the other methods that folks might want. Saying "use our method instead of Raven's" is kinda gross, and you bring

[2018-02-01 22:14] odinuge commented on #50
Yeah, it is "supported", but it doesn't work the way we need it to. Every request will need a separate `callback` in the middelware, and the `raven-node` `setDataCallback` sets it as a global callback. It doesn't work with Raven's inbuilt context handling. I guess that the idea behind the callback is just to have one (or several nested) pure functions to parse the data. This middleware uses it to

[2018-02-09 18:45] zeorin opened #58 "Overwriting of `extra` when capturing an exception"
I've implemented this library in my Redux middleware and it's generally working quite well.

However, I've also set up some React Error Boundaries that report to my Sentry.io instance, as per https://blog.sentry.io/2017/09/28/react-16-error-boundaries.

When I manually trigger `Raven.captureException` in my Error Boundary component as per the blog post, an exception is logged on Sentry, but withou

[2018-02-12 17:12] zeorin commented on #58
Additionally, if the above is fixed, it'd be awesome if one could still overwrite the `state` that is automatically added by manually specified state in `extra`. This is useful when e.g. a promise throws an error after some time and we'd like to send a report with the state at the time the promise was _created_ rather than the state at the time that it threw an error.

[2018-02-15 15:28] captbaritone commented on #58
Would something like this work? https://github.com/captbaritone/raven-for-redux/pull/59

[2018-02-20 18:34] zeorin commented on #58
That looks great! Thank you!

[2018-02-26 14:29] #58 closed

[2018-02-26 14:35] captbaritone commented on #58
Published in 1.3.0

[2018-03-05 11:42] kontrollanten opened #62 "What kind of errors will be captured?"
Thanks for a great package!

I'm using this together with preact and I'm wondering what kind of actions really get captured. In [your example](https://github.com/captbaritone/raven-for-redux/blob/master/example/index.js) I can see that you're throwing errors inside the reducer, outside of the reducer and inside a click event. To me it looks like you're capturing most of thrown errors, but is there

[2018-03-05 14:20] captbaritone commented on #62
The context will be attached to any error that Raven captures. Generally this would be any uncaught error.

Want to open a pull request to add some clarification to the Readme?

[2018-03-09 22:58] #62 closed

[2018-03-22 13:28] Burgomehl opened #66 "React Native Sentry dosn't collect extradata"
I am building for android on windows. As mentioned in your readme i used createRavenMiddleware(Sentry) but it is not collecting extradata. If i only switch from Sentry to Raven it works, but i would like to use Sentry.

Package.json:
[code]
It seems like ```Raven.setDataCallback(function (data, original) {``` is never called.

[2018-03-23 18:34] captbaritone commented on #66
Any thoughts @emmajam ?

[2018-03-23 18:50] emmajam commented on #66
Oops oh dear!

Let me have a look... Can you send through a snippet of your `createStore` function, where you pass through Sentry?

[2018-03-23 18:56] emmajam commented on #66
So, double checked, and it's certainly working in my project, if you can give me some more info / code snippets. I'll try to reproduce your environment 😃

[2018-03-23 20:15] captbaritone commented on #66
Thanks for jumping on that @emmajam.

Can the `React-native-sentry` module run in a node environment? Might be good to add a test that uses it.

[2018-03-26 05:50] Burgomehl commented on #66
That was fast ;-)

The interesting thing is, that it work (like expected) if I install Sentry in the index.js and Raven next to ```createRavenMiddelware``` and then pass Sentry.

```createStore```:
[code]

[2018-03-26 09:29] emmajam commented on #66
I'd like to apologise for being so eager to help 😂 😜

Okay... but in my React Native app I don't have Raven installed at all...

This is how I've got it setup in my app (hopefully it helps):

[code]

Then in...

[code]

hopefully this helps a little bit ... you have to make sure you call the `Sentry.config(dsn).install()` before you pass it through to your `createRavenMiddleware`

[2018-03-26 09:34] emmajam commented on #66
@captbaritone yeah I'm pretty sure it will be able to run in a node env, I'll look into adding a test or two for it tonight after work 👍

[2018-03-27 10:43] scottwio commented on #66
Just to confirm this seems to be an issue. I have the same problem as @Burgomehl installing how the documentation describes does not give the extra data (state, lastAction). The only way I could get this to work is to install Raven and pass that to createRavenMiddleware rather than Sentry. Passing Sentry gives me the breadcrumbs but not the extra data.

[2018-03-27 10:46] emmajam commented on #66
Dang it, @captbaritone I might create a `sentry-for-redux` repo based on this one (if thats okay) to handle the React Native side of things

[2018-03-27 12:59] captbaritone commented on #66
Emma,

Sounds good! Want to open a PR to remove the sentry documentation?

[2018-03-27 13:09] emmajam commented on #66
Can do

[2018-03-27 13:53] captbaritone commented on #66
Thanks!

[2018-03-28 15:38] emmajam commented on #66
Sorry been a busy day - will sort this out tomorrow! 🤗

[2018-03-29 22:58] greenkeeper[bot] opened #67 "An in-range update of react is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **16.3.0** of [react](https://github.com/facebook/react) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/captbaritone/raven-for-redux/compare/greenkeeper%2Freact-16.3.0">Build fa

[2018-04-04 10:35] emmajam commented on #66
7 days later...

https://github.com/captbaritone/raven-for-redux/pull/68

Created this also - https://github.com/emmajam/sentry-for-redux but only has a readme will push to it later this evening 👍

[2018-04-04 10:49] Burgomehl commented on #66
the install() function is async maybe this is the problem?

[2018-04-04 11:16] emmajam commented on #66
Hmm I don't think so, why do you think that would be causing issues? @Burgomehl

[2018-04-04 13:47] Burgomehl commented on #66
Maybe some race conditions. Like in my example -> I did Sentry.install() and then Raven.install() and then it worked. But without Raven.install() it didn't worked. Why should the Raven.install() change the thing if I still do createRavenMiddleware(Sentry) ?

[2018-04-04 13:55] emmajam commented on #66
So calling `Sentry.install()` triggers the raven install itself, ` return Sentry._ravenClient.install()`,  if you look through the `react-native-sentry` SDK..
https://github.com/getsentry/react-native-sentry/blob/master/lib/Sentry.js#L27

I completely agree with you. I'm confused as to why Sentry.install() alone isn't enough the Raven.install() should _technically_ have no impact as it should alre

[2018-04-04 21:59] emmajam commented on #66
Lil' update have been doing some debugging - so we can't actually call the `Sentry.setDataCallback()` from our react native code - its triggered once after Sentry.install() but that's it, this is where I have been tricked! 😱- thinking it was my code calling it..

 However, they have other methods that may be able to be used instead as a replacement. But can confirm the `Sentry.captureBreadcrumb()`

[2018-04-26 23:07] #67 closed

[2018-05-29 07:20] greenkeeper[bot] opened #74 "An in-range update of prettier is breaking the build 🚨"
## Version **1.13.2** of [prettier](https://github.com/prettier/prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/captbaritone/raven-for-redux/compare/master...captbaritone:greenkeeper%2Fprettier-1.13.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>p

[2018-06-26 14:46] rodolfo3 opened #76 "Running on node-js causes a memory leak"
Setting it up in a running server-side-rendering app causes the memory grows constantly:

![screenshot_2018-06-26 node vms - eduk-beta-web-prd a4845384a7b3 - new relic](https://user-images.githubusercontent.com/334134/41919852-d9214db0-7935-11e8-9b9e-90ab524ffb66.png)

(it goes down when the server restarts the node process due memory restrictions)

The only difference is that I setup Raven global

[2018-06-26 14:48] rodolfo3 commented on #76
Is it because it calls `Raven.setDataCallback` each store creation?
The it will create and add a new function to every store creation (with happens a lot on server-side-rendering)

[2018-06-28 17:15] greenkeeper[bot] opened #77 "An in-range update of webpack is breaking the build 🚨"
## Version **4.13.0** of **webpack** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/captbaritone/raven-for-redux/compare/master...captbaritone:greenkeeper%2Fwebpack-4.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/webp

[2018-07-03 21:36] udahari opened #78 "any example how to use getusercontext ?"

[2018-07-10 17:31] mattryles commented on #66
Hi @emmajam,
Did you find a solution for this?

It's a shame about the setDataCallBack function, looking through the docs (https://docs.sentry.io/clients/react-native/config/) it doesn't seem the functionality is there. However there is setExtraContext, this seems to work as expected.

The problem is when do you call setExtraContext as I've not had much luck with the setShouldSendCallback function

[2018-07-10 21:30] captbaritone commented on #76
Looks like the same issue as this: https://github.com/captbaritone/raven-for-redux/issues/50

This library is not compatible with Node Raven, since Node Raven has a different API. I would suggest you conditionally omit the `raven-for-redux` middleware when server rendering.

[2018-07-10 21:30] #76 closed

[2018-07-10 21:33] captbaritone commented on #78
Something like this?

[code]

[2018-07-20 09:22] greenkeeper[bot] opened #79 "An in-range update of raven-js is breaking the build 🚨"
## Version **3.26.4** of **raven-js** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/captbaritone/raven-for-redux/compare/master...captbaritone:greenkeeper%2Fraven-js-3.26.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/ge

[2018-07-27 18:37] oliv9286 opened #80 "Is it possible to capture only certain errors?"
I was reading through the docs and saw the instruction asking to do `Raven.install()`.
Some background context: my app is placed on a page that contains other projects as well, I don't want to use `Raven.install()` and all errors on the page, including the ones thrown from the other projects.

Ravenjs itself provides a way to
[code]

Is this something that can be done using this middleware?

[2018-08-01 21:32] greenkeeper[bot] opened #81 "An in-range update of react is breaking the build 🚨"
## Version **16.4.2** of the **react** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/captbaritone/raven-for-redux/compare/master...captbaritone:greenkeeper%2Fmonorepo.react-16.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blan

[2018-08-02 05:06] mcrawshaw opened #82 "Not working for new @sentry v4 beta versions"
API has changed.
`Uncaught TypeError: e.setDataCallback is not a function`

[2018-08-04 01:26] captbaritone commented on #82
Thanks for the heads up!

[2018-08-07 20:40] captbaritone commented on #82
I've started looking into this and filed an issue with Sentry to see if we can get support for lazyily setting scope: https://github.com/getsentry/sentry-javascript/issues/1281#issuecomment-411194452

[2018-08-07 20:41] captbaritone commented on #80
Yeah, if you just omit the "install" step, it should work just fine. Give it a try and let me know if it works.

[2018-08-07 22:43] captbaritone commented on #80
I'm going to close this for now. Feel free to reply if this doesn't work for you.

[2018-08-07 22:43] #80 closed

[2018-08-07 22:43] captbaritone commented on #78
I'll close this for now. Let me know if that helps.

[2018-08-07 22:43] #78 closed

[2018-08-13 17:28] greenkeeper[bot] opened #83 "An in-range update of eslint-config-prettier is breaking the build 🚨"
## Version **2.10.0** of **eslint-config-prettier** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/captbaritone/raven-for-redux/compare/master...captbaritone:greenkeeper%2Feslint-config-prettier-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blan

[2018-08-13 23:42] greenkeeper[bot] opened #85 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **7.11.0** of **eslint-plugin-react** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/captbaritone/raven-for-redux/compare/master...captbaritone:greenkeeper%2Feslint-plugin-react-7.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href

[2018-08-26 07:14] greenkeeper[bot] opened #87 "An in-range update of webpack-dev-server is breaking the build 🚨"
## Version **3.1.6** of **webpack-dev-server** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/captbaritone/raven-for-redux/compare/master...captbaritone:greenkeeper%2Fwebpack-dev-server-3.1.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=htt

[2018-08-29 06:44] CryptoMeerkat opened #90 "License"
Hi,

thanks for the package. The best Sentry package for redux out there.
Can you let me know which license is in this package?

Thank you :+1:

[2018-09-12 09:46] Quadriphobs1 opened #91 "Jest Test Error"
I installed the sentry package and integrated this package for redux which is working fine not until in started using the package on some component I have tested with jest and I keep getting a very weird error 'TypeError: Cannot use 'in' operator to search for 'fetch' in true' which has to deal with raven.

Now if i remove it from the component the test seems to go, any idea

[2018-09-14 15:44] deammer opened #92 "Support for @sentry/browser"
Hi, I'm trying to set up `raven-for-redux` with [`@sentry/browser`](https://github.com/getsentry/sentry-javascript/tree/master/packages/browser) but can't find a way to set up the middleware. The `init` method adds a `window.__SENTRY__` object but it doesn't have the necessary `setDataCallback` hook. Here's my setup:

[code]

Any ideas?

[2018-09-14 15:52] deammer commented on #92
I apologize, this is a duplicate of #82.

[2018-09-14 15:52] #92 closed

[2018-09-14 18:09] deammer commented on #82
I don't know if this is useful, but I wrote a tiny middleware that logs breadcrumbs to Sentry:

[code]

After reading the comments in getsentry/sentry-javascript#1281, I first wrote an "integration" that used `store.dispatch()` to log to Senty, but I felt like that was obfuscating things too much for my taste. A middleware felt cleaner because it chains functions instead of monkeypatching the `dis

[2018-09-17 21:01] joshdk commented on #90
The license appears to be MIT, as [stated in the `package.json` file](https://github.com/captbaritone/raven-for-redux/blob/master/package.json#L36), but a `LICENSE.txt` file _should_ also be added to the root of the repo...

[2018-09-19 18:15] pkuczynski opened #93 "Add support for @sentry/browser"
`@sentry/browser` is the latest version of Sentry SDK. I tried to upgrade my project, but my application fails to run with an error `Raven.setDataCallback is not a function`. That's because the Sentry API changed significantly and this library would have to be updated...

[2018-09-25 23:15] deammer commented on #93
See #82.

[2018-09-25 23:31] pkuczynski commented on #93
Have seen this and finally implemented this integration myself, dropping usage of this package

[2018-10-13 08:14] ndbroadbent commented on #42
I just noticed this happening while I was testing errors in development, and now I'm really worried that I've been missing a lot of error reports in production! I'm using `redux-undo`, so my state gets really large after only a few changes. Interestingly, compressing it with gzip turns 220kb of JSON into 5kb.

This should be a huge warning at the top of the README. I also think that `raven-for-red

[2018-10-13 08:51] ndbroadbent commented on #42
@captbaritone I just saw your workaround here: https://github.com/getsentry/sentry-javascript/issues/339#issuecomment-340134753
I think it would be awesome if this was part of raven-for-redux

[2018-10-13 18:41] beaugunderson commented on #42
one note; that workaround is out of date now (but sadly i didn’t keep the newer version i ended up with)

---
Sent from my phone.

[2018-10-15 10:41] ndbroadbent commented on #42
Sooooo I've actually come to the conclusion that [raven-for-redux](https://github.com/captbaritone/raven-for-redux) and [redux-raven-middleware](https://github.com/ngokevin/redux-raven-middleware) are not the best idea. Even with all my 413 error handling and `redux-undo` history removal, Sentry is still aggressively trimming the "additional data" and removing large chunks of my state. See:

* htt

[2018-10-15 10:43] johdah opened #97 "GDPR: Filter data before sending"
Is it possible to filter the data before sending it to Sentry? We store user information in the redux store but for obvious reasons would prefer not to send it to Sentry. For example a rule could be to exclude state.user from what's sent to sentry.

[2018-10-18 09:42] Vannevelj commented on #97
I think you're looking for this? https://github.com/captbaritone/raven-for-redux#statetransformer-function

[2018-10-18 11:01] johdah commented on #97
Ah, thanks I missed that one.

[2018-10-18 11:01] #97 closed

[2018-10-31 17:42] cihati commented on #93
@pkuczynski care to share how you did it?

[2018-10-31 21:45] captbaritone commented on #46
Is this just a case of sagas swallowing errors by default, and you having to go out of your way to ensure Raven sees them?

[2018-11-01 13:31] greatwitenorth commented on #46
Yes it appears that's the case.

[2018-11-05 12:19] pkuczynski commented on #93
Sure!

I created a new file in `src/store/middlewares/sentry.js`:

[code]

then I also had one place where I define all my middlewares `src/store/middlewares/sentry.js`:

[code]

and then in a place where I initialize store I had:

[code]

[2019-01-11 14:40] Beelphegor opened #102 "SSR Usage instruction missing on README.md"
Hi,

I experienced an issue regarding memory leaks when using in combination with server side rendering, and found this issue https://github.com/captbaritone/raven-for-redux/issues/50, which added a warning and some instructions to the README file about this potential issue.

I think those instructions got lost somehow when merging other changes. This is the original commit https://github.com/capt

[2019-01-30 18:21] hirthbrian commented on #66
I noticed that the setDataCallback is only overwritten when the Sentry.install() Promise is over. I had some trouble making this repo work for my React Native app so I made my own based on it.
If anyone is interested I can rework some stuff and make a fork.

[code]

[2019-02-19 22:12] OliverJAsh commented on #93
@pkuczynski Your suggested code seems to be the way forward! Have you thought about wrapping it up into a separate package? :-D

[2019-02-19 23:27] pkuczynski commented on #93
@OliverJAsh I could if you promise to use it ;)

[2019-02-20 09:07] OliverJAsh commented on #93
Haha, I promise! That plus 27 other ❤️s!

[2019-03-08 23:15] olavoasantos commented on #93
Not sure if this works 100% like the current `raven-for-redux` but I tried to work based on the current implementation. I tested on the example and apparently it did ok... But I didn't refactor the tests to check.

[code]

[2019-03-12 15:17] olavoasantos commented on #93
For reference, the above implementation using the `scope.addEventProcessor` method gets called when sentry is about to send the error and not when the error is thrown. Since Redux keeps on working, you end up getting misleading information as there are breadcrumbs (i.e. actions) which were emitted after the exception was thrown.

To avoid this, you can store the state, action and breadcrumbs from

[2019-06-18 01:03] AndriiNeverov commented on #91
@Quadriphobs1 Don't know if this is going to lead anywhere, but adding the following to jest.config.js at least resolves the compile error:

[code]

[2019-08-09 08:00] joan-saum commented on #82
Any news about this issue @captbaritone ?

[2019-08-14 20:23] captbaritone commented on #82
I don’t think I’ll be able to find time to work on this. If someone wants to open a PR, I can review, but this might be a good time for someone to fork. Sorry folks.

[2019-10-11 14:45] kumar303 commented on #93
This claims to be a rewrite of `raven-for-redux` with support for `@sentry/browser` : https://github.com/vidit-sh/redux-sentry-middleware

I haven't tried it yet 🤞

[2019-10-11 15:56] kalemi19 commented on #93
I tried it briefly and it seems to be working properly!  🎉

[2019-10-11 17:06] kumar303 commented on #93
Yep, I can confirm that it is working well using `@sentry/browser` @ `5.7.0`

[2019-12-17 22:43] sweatherall commented on #82
@captbaritone are there any updates? I just upgraded from react-native-sentry to @sentry/react-native and I am seeing the `TypeError: Raven.setDataCallback is not a function` in my Sentry logs, and actually it is preventing the app from even loading :(. We would love to continue to use raven/get the redux actions back in the breadcrumbs. LMK if there is anything to do! Thanks!

[2019-12-18 04:23] captbaritone commented on #82
I've written a version that seems to work as part of my Webamp project: https://github.com/captbaritone/webamp/pull/956

My plan is to ship it there to validate that it will work over here. If you want to copy paste that file into your project and see if it works, I'd love to hear what if any problems you encounter.

I think the only real hard work of adopting that code in this code base will be u

[2019-12-19 04:38] captbaritone commented on #93
https://github.com/vidit-sh/redux-sentry-middleware looks like the right approach. I'll update the readme to point people there.

[2019-12-19 04:38] #93 closed

[2019-12-19 04:39] captbaritone commented on #102
Check out https://github.com/vidit-sh/redux-sentry-middleware if you can move to the new Sentry SDK and render each request in a new scope, that should solve your problems!

[2019-12-19 04:39] #102 closed

[2019-12-19 04:42] captbaritone commented on #91
Odd. I'm guessing that adding `raven-for-redux` results in some Raven code which tries to use `window.fetch` getting called. Do you have JS-DOM enabled in Jest?

Do you have a full stack trace you could share?

[2019-12-19 04:42] captbaritone commented on #90
PR to add a license file would be welcome.

[2019-12-19 04:44] captbaritone commented on #82
Actually, this is a dupe of #93. Check out https://github.com/vidit-sh/redux-sentry-middleware it looks like the same idea I was going to do, except better.

[2019-12-19 04:44] #82 closed

[2019-12-19 04:45] captbaritone commented on #66
Check out https://github.com/vidit-sh/redux-sentry-middleware, I suspect it will work.

[2019-12-19 04:45] #66 closed

[2019-12-19 04:45] #74 closed

[2019-12-19 04:45] #77 closed

[2019-12-19 04:45] #79 closed

[2019-12-19 04:45] #81 closed

[2019-12-19 04:45] #83 closed

[2019-12-19 04:45] #85 closed

[2019-12-19 04:45] #87 closed